.container {
    background: #eee;
    border: 1px solid #c00;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px 40px 50px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    width: 65%;
    position: relative;
    background-image: linear-gradient(to right, #de4b4b, #eee 20%);
    text-align: left;
    display: block;
    box-shadow: 1px 8px 10px #2F4F4F;
    display: grid;
    width: 300px;
    height: 550px;
    flex-wrap: wrap;
}

.title {
    color: #c00;
    font-size: 2rem;
    margin: .5rem 0;
    display: inline-block;
    line-height: 1.0;
    width: 330px;
    margin-top: 50px;
}

.pubDate {
    font-weight: bold;
    font-size: smaller;
    display: block;
}

.image {
    border: 15px solid #c00;
    border-radius: 50%;
    left: 20px;
    width: 200px;
    height: 110px;
    float: left;
    margin-right: 40px;
    box-shadow: 5px 10px 10px #696969;
}

@media (max-width: 600px) {
    .container {
      background-image: linear-gradient(to right, #7cb9e8, #eee 20%);
    }
}

@media (min-width: 601px) {
    .container {
      background-image: linear-gradient(to right, #ffc34d, #eee 20%);
    }
}

@media (min-width: 900px) {
    .container {
      background-image: linear-gradient(to right, #de4b4b, #eee 20%);
    }
}

@media (min-width: 1300px) {
    .container {
      background-image: linear-gradient(to right, #00802b, #eee 20%);
    }
}