.slugButton {
    background: #c00;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 50px;
    text-align: cneter;
    border-radius: 12px;
}